.gradient-background{
    width: 100%;
        background: linear-gradient(300deg,  #1067b3d6, #4b8cc468, #248a57bf);
        background-size: 180% 180%;
        animation: gradient-animation 14s ease infinite;
        color: white;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#profile-img{
    border-radius: 50%;
    border: 5px solid white;
}
.lead{
    margin-top: 20px;
    font-size: 1.2rem;
}

.undergrad{
    animation-duration: 3s;
    animation-name: slidein; 
}
@keyframes slidein {
    from {
    margin-left: 100%;
    width: 300%;
    }

    to {
    margin-left: 0%;
    width: 100%;
    }
}